* {
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Уберает подчеркивание*/
    display: inline-block; /* Ссылки строчно-блочные*/
}

ul,
li {
    list-style: none; /*отключение маркеров*/
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {

}

.header__top {
    background-color: #303030;

}

.header__btn {
    float: right;
}